
<div class="display-user">

  <div class="row">

    <div class="team-name card-panel col s6 " >
      <div class="card-panel">
        <h2><%= current_team.name %></h2>
      </div>
    </div>

    <div class="time card-panel col s6">
      <div class="card-panel"><h2 id="Clock"></h2></div>
    </div>

  </div>

  <div class="name_field card-panel">
      <ul>
        <% if current_team.users %>
          <% current_team.users.each do |user| %>
              <div class="card-panel">
                <div class="row">
                  <li><%= link_to user.name, login_user_path(:name => user.name), class: "btn waves-effect waves-light col s3" %>
                      <span class="col s1">10</span>
                      <span class="col s8">
                        <div class="progress"><div class="determinate" style="width: 20%"></div>
                        </div>
                      </span>
                  </li>
                </div>
              </div>
          <% end %>
        <% else %>
          <div class="first_time_display">
              <div class="card-panel">
                <p>まずはメンバーを登録しましょう。</p>
                <p>したの「＋」ボタンから。</p>
              </div>
          </div>
      </ul>
      <% end %>

<hr>

    <div class="add_user">
      <%= link_to signup_users_path,class:"btn-floating btn-large waves-effect waves-light" do %>
        <i class="fa fa-plus"></i>
      <%end%>
    </div>

  </div>
</div>
