
  <div class='row'>
  <div class="card-panel">

  <p>プロジェクトが回らない？</p>

  <p>時間をうまく使えない？</p>

  <p>時間をチームで共有しよう</p>

  <p>Share time</p>

  <h2>時間の共有を始めましょう！</h2>

  <p>まずサインアップから。</p>
  <%= link_to "サインアップ", signup_path, class: "btn" %>
  </div>
  </div>