

<div class="user-main">
  <div class="card-panel main-panel">
  <div class="card-panel timer-background" style="width:400px; margin">
    <div class="timer"></div>
  </div>
    <div class="button">
      <ul>
        <li><a class="start-button btn waves-effect waves-light modal-trigger" href="#modal1">仕事をする！</a></li>
        <li><a class="stop-button btn">休憩！</a></li>
      </ul>
    </div>
  </div>
  <div id="modal1" class="modal">
    <div class="modal-content">
       <div class="input-field">
        <select>
          <option value="" disabled selected>仕事する時間を選択してください</option>
          <option value="15">15</option>
          <option value="30">30</option>
          <option value="60">60</option>
        </select>
        <button type="submit" class="btn">仕事を始める！</button>
      </div>
    </div>
  </div>
</div>