

<div class="user-main">
  <div class="card-panel main-panel">
  <div class="card-panel timer-background" style="width:400px; margin">
    <div class="timer"></div>
  </div>
    <div class="button">
      <ul>
        <li><a class="start-button btn waves-effect waves-light modal-trigger" href="#modal1">仕事をする！</a></li>
        <li><a class="stop-button btn">休憩！</a></li>
      </ul>
    </div>
  </div>
  <div id="modal1" class="modal">
    <div class="modal-content">
       <div class="input-field">
        <h4>目標時間</h4>
        <form name="time_form">
        <select name="box">
          <option value="15">15分</option>
          <option value="30">30分</option>
          <option value="60">60分</option>
          <option value="120">120分</option>
          <option value="180">180分</option>
          <option value="240">240分</option>
          <option value="300">300分</option>
          <option value="360">360分</option>
        </select>
        </form>
         <button class="btn setting-time modal-action modal-close">仕事を始める！</button>
      </div>
    </div>
  </div>
</div>