<header>

<nav>
  <div class="nav_wrapper">
      <span class="logo">
        <i class="fa fa-clock-o fa-1x icon"></i>
        <%= link_to "ShareTime",root_path, class: "bland-logo" %>
        <i class="fa fa-share-alt icon"></i>
      </span>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>hogehoge</li>
        <li>foobar</li>
        <li class="dropdown">
          <%= link_to "#", class: "dropdown-button" do%>
          <i class="material-icons">settings</i>
          <%end%>
        </li>
      </ul>
  </div>
</nav>

</header>